body {
    font-family: Work Sans;
}

/* navbar style */
.letter-color {
    color: #FF42A5;
}

.img-header {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 150px;
}

.nav-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-between;
}

.nav-box {
    border: 2px solid beige;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 15px;
    margin-right: 150px;
}

nav>ul {
    display: flex;
    padding-left: 450px;
    /* align-items: center; */
}

nav li {
    list-style: none;
    margin-right: 25px;
}

nav a {
    text-decoration: none;
    color: #3C354F;
}

/* banner style */

.banner-container {
    position: relative;
    display: flex;
}

.banner-content {
    position: absolute;
    top: 10%;
    left: 15%;
}

.banner-img {
    width: 600px;
    height: 400px;
    margin: 0 auto;
}

.heading1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 5px auto;
}

.heading2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 85px;
    font-weight: 800;
    margin: 5px auto;
}

.list-style {
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
}

.btn-signin {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    border: 0px;
    background: #FF42A5;
    padding: 15px 30px;
    margin: 10px;
}

.btn-gorogue {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    border: 0px;
    background: #4EC5F7;
    padding: 15px 30px;
    margin: 10px;
}

/* main first section style */
.first-main-con {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    text-align: right;
    margin-top: 20px;
    padding: 20px;
    gap: 25 px;

}

.first-sec-heading {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
    /* margin-top: 50px; */

}

.first-sec-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.btn-knowmore {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    border: 0px;
    background: #FF42A5;
    padding: 15px 30px;
}

.first-sec-heading2 {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

/* main second section style */
.second-main-con {
    width: 100%;
    text-align: center;

}

.second-sec-heading {
    color: #0B0223;
    font-size: 38px;
    font-weight: 700;
    /* padding: 0 auto; */
}

.heading-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-container {
    display: flex;
    align-items: center;
    margin: 50px;
    padding-left: 50px;
    padding-right: 50px;

}

.card img {
    border: 0 solid aqua;
    width: 250px;
    height: 300px;
    padding: 20px;

}

.card p {
    width: 250px;
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
}

/* main third section style */

.third-main-container {
    width: 1000px;
    height: 800px;
    display: flex;
    align-items: center;
}

.third-sec-content {
    padding-right: 250px;
}

.third-sec-heading {
    width: 400px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;

}

.third-sec-discription {
    width: 320px;
    text-align: right;
    padding-left: 70px;
}

.third-img-style {
    position: relative;
    bottom: 350px;
    padding-left: 500px;
}

/* main last section style */

.card-box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.card-box {
    gap: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50px;
    background: #FFF;
    margin: 20px 15px;
    align-items: center;
}

.card-box:hover {
    color: blue;
}

#card-box-border {
    border: 1px solid #FF42A5;
    border-radius: 50px;
}

/* footer style start */

.footer-container {
    width: 100%;
    height: 350px;
    background: #0B0223;
    text-align: center;
    padding-top: 50px;

}

.footer-heading {
    display: flex;
    color: #FFF;
    align-items: center;
    gap: 5px;
    padding-left: 620px;

}

footer a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 25px;
}

footer i {
    font-size: 25px;
    margin: 20px;
    text-align: center;
}

footer ul {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 100px;
    padding-left: 280px;

}

footer li {
    list-style: none;

}

footer p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    padding-top: 25px;
}

/* responsive for small device */

@media screen and (max-width: 576px) {
    .nav-container {
        width: 50%;
    }
    .banner-img {
        height: 600px;
    }
    .first-main-con {
        flex-direction: column;
    }

    .banner-container {
        padding-bottom: 50px;
        flex-direction: column;
        margin-top: 100px;
    }

    .card-container,
    .third-main-container {
        width: 80%;
        flex-wrap: wrap;
        
    }
    main {
        align-items: center;
    }
    .footer-container{
        width: 80%;
        height: 50%;
    }
}


/* responsive for medium device */
@media screen and (min-width:576px) and (max-width: 960px) {
    footer {
        width: 75%;

    }
    .card-container,
    .third-main-container{
        width: 80%;
        flex-direction: column;
    }
}